/* css variables */
:root {
    --header-height: 3rem;
    --font-high: 900;
    --font-semi: 600;
    --font-min: 300;
}

/* colors */
:root {
    --first-color: #4070f4;
    --skills-box: #fff;
    --second-color: #363636;
    --third-color: rgb(0, 0, 0);
    --body-color: rgb(228, 228, 228);
    --nav-color: #efefef;
    --card2-color: #363636;
}

/* dark mode variables */
body.dark-theme {
    --first-color: #21688B;
    --skills-box: #363636;
    --second-color: #ffffff;
    --third-color: rgb(255, 255, 255);
    --body-color: rgb(37, 37, 37);
    --nav-color: rgb(48, 48, 48);
    --card2-color: #FFF;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

/* switch theme button */
.nav__item .change-theme {
    display: flex;
    margin-top: -0.1em;
    text-align: center;
    color: var(--title-color);
    font-size: 2rem;
    cursor: pointer;
}

/* fonts and text */
:root {
    --body-font: 'Titillium Web', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.92rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* margins */
:root {
    --margin-1: 0.5rem;
    --margin-2: 1rem;
    --margin-3: 1.5rem;
    --margin-4: 2rem;
    --margin-5: 2.5rem;
    --margin-6: 3rem;
}

/* z-index */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* base */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100vh;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    background-color: var(--body-color);
    overflow-x: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* css class */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--margin-2);
    margin-bottom: var(--margin-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    /* padding: 2rem 4% 4% 3rem; */
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 4%;
    padding-right: 4%;
}

/* layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
    text-align: center;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--nav-color);
}

/* nav bar */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 50%;
        height: 100%;
        padding: 2rem;
        background-color: var(--nav-color);
        color: var(--second-color);
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .nav__link {
        color: var(--second-color);
    }

    .change-theme i {
        position: initial;
    }
}

.nav__item {
    font-weight: var(--font-high);
    margin-bottom: var(--margin-4);
}

.nav__link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: 600ms;
}

.nav__link:hover {
    position: relative;
    filter: grayscale(100%) opacity(0.7);
    background: #141418;
    color: #ececec;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
    display: flex;
    padding-top: 0;
    font-size: 1.2rem;
}

.nav__img {
    margin-right: 15px;
    object-position: center;
}

@media screen and (min-width: 768px) {
    .nav__img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav__logo p {
        display: none;
    }
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* active menu */
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* show menu */
.show {
    right: 0;
}

/* home */
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--margin-5);
    align-items: center;
    text-align: center;
}

.home__title-color {
    color: var(--first-color);
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--margin-2);
    font-size: 2.5rem;
    color: var(--second-color);
    align-items: center;
}

.nav__img {
    filter: invert(0.2);
}

.dark-img {
    filter: invert(1)
}

/* text chage */
.home__title,
.spin:after {
    content: 'Front-End Developer';
    animation: text 9s linear infinite;
}

@keyframes text {
    30% {
        content: "JavaScript & TypeScript";
    }

    60% {
        content: "ReactJS Developer";
    }
}

/* buttons */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 1rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: solid var(--first-color) 2px;
    text-align: center;
    align-items: center;
}

.button:hover {
    color: var(--first-color);
    background-color: var(--nav-color);
}

.buttoncv {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 1rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: solid var(--first-color) 2px;
    width: 100%;
    text-align: center;
}

.buttoncv:hover {
    color: var(--first-color);
    background-color: var(--nav-color);
}

.buttonct,
.buttonct1 {
    display: inline-block;
    background-color: var(--nav-color);
    color: var(--second-color);
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 1rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: solid var(--second-color) 1.5px;
    text-align: center;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.buttonct:active {
    transform: scale(0.95);
}

.buttonct1:active {
    transform: scale(0.98);
}

/* about */
.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--margin-2);
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
}

/* send me a gift */
.send {
    background-color: var(--nav-color);
    z-index: var(--z-normal);
    position: relative;
}

.send__container {
    max-width: 1024px;
    margin-top: 1rem;
}

.send__title {
    margin-bottom: 1rem;
    color: var(--second-color);
    text-align: center;
    margin-top: 1.8rem;
}

.send__description {
    text-align: justify;
    font-family: "monospace", sans-serif;
    font-weight: 600;
    color: var(--second-color);
    margin-bottom: var(--mb-3);
}

.infome {
    margin-bottom: 1rem;
}

.send__img {
    width: 100%;
    justify-self: center;
    vertical-align: middle;
    padding-top: 2.4rem;
}

td .fas {
    font-size: 1.1rem;
    margin: 1rem;
}

.me .fas {
    font-size: .9rem;
}

.me p {
    margin-left: .5rem;
}

/* projects */
#projects {
    padding: 70px;
    text-align: center
}

#projects #linkrepo {
    color: #4070f4;
    font-size: 18px
}

#projects h2 {
    text-align: center;
    margin-top: 20px;
    color: var(--second-color);
    font-size: 30px
}

#projects article {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left
}

#projects article div {
    height: auto;
    flex-grow: 1;
    flex-basis: 300px;
    background-color: var(--skills-box);
    padding: 40px 40px 80px 40px;
    margin: 10px;
    border-radius: 5px;
    position: relative
}

#projects article div h3 {
    font-size: 1.2rem
}

#projects article div p {
    margin: 20px 0px;
    font-size: 0.9rem
}

#projects article div .botoes-projetos {
    position: absolute;
    bottom: 40px;
    left: 40px
}

#projects article div a {
    margin-right: 10px
}

#projects article div .live-button {
    background-color: var(--first-color);
    padding: 10px 20px;
    color: #fff;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer
}

#projects article div .live-button:hover {
    cursor: pointer;
    background-color: #3460da
}

#projetos article div .github-button {
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #4070f4;
    color: #fff;
    border: 0;
    border-radius: 50%;
    cursor: pointer
}

#projects article div .github-button:hover {
    cursor: pointer;
    background-color: #3460da
}

@media screen and (max-width: 800px) {
    #projects {
        padding: 70px 10px
    }
}

/* skills */
main .imageIcone {
    width: 50px
}

.imageIcones {
    width: 100px
}

#skills {
    width: 100%;
    padding: 70px;
    overflow: hidden
}

#skills h2 {
    text-align: center;
    margin-top: 20px;
    color: var(--second-color);
    font-size: 30px
}

#skills div {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin-top: 5px
}

#skills article {
    text-align: center;
    height: auto;
    background-color: var(--skills-box);
    padding: 30px;
    border-radius: 15px;
    margin: 10px;

    flex-basis: 150px;
    flex-grow: 1;
    transition: all 0.5s
}

#skills article:hover {
    cursor: pointer;
    transform: scale(1.05)
}

#skills article h2 {
    padding: 10px 0px;
    font-size: 20px
}

#skills article p {
    line-height: 30px
}

@media screen and (max-width: 800px) {
    #skills {
        padding: 70px 10px
    }
}

/* contact */
#contact {
    background-color: var(--body-color);
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center
}

#contact fieldset {
    border: none
}

#contact #contactField {
    background-color: var(--skills-box);
    width: 60%;
    height: auto;
    border-radius: 10px;
    padding: 30px
}

#contact #contactField #campoFlex {
    display: flex;
    justify-content: space-between
}

#contact #contactField .campoPadrao {
    width: 47%
}

#contact #contactField input {
    border: none;
    padding-left: 15px;
    margin-top: 10px;
    font-size: 14px
}

#contact #contactField textarea {
    border: none;
    background-color: #f0f0f0;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 14px
}

#contact #contactField .campos {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #f0f0f0
}

#contact #contactField #captcha {
    font-size: 20px;
    float: right
}

#contact #contactField #captcha #campo {
    width: 40px;
    height: 30px;
    background-color: #ddd;
    padding-left: 15px;
    border-radius: 5px
}

#contact #campoDois {
    margin-top: 20px
}

#contact #campoDois #campoMensagem {
    width: 100%;
    height: 150px;
    border-radius: 5px
}

#contact #botao {
    margin-top: 20px;
    background-color: var(--first-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700
}

#contact #botao:hover {
    background-color: #3460da
}

@media screen and (max-width: 1100px) {
    #contact {
        padding: 70px 20px
    }

    #contact #agradecimento {
        display: none
    }

    #contato #contactField {
        width: 100%
    }
}

@media screen and (max-width: 650px) {
    #contact #contactField #campoFlex {
        flex-wrap: wrap
    }

    #contact #contactField #campoFlex #espacoResponsivo {
        margin-top: 20px
    }

    #contact #contactField .campoPadrao {
        width: 100%
    }
}

/* footer */
.footer {
    background-color: var(--nav-color);
    color: var(--second-color);
    text-align: center;
    padding: 2rem 0;
    display: block;
    z-index: var(--z-normal);
    position: relative;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--margin-);
    font-weight: var(--font-semi);
}

.footer__social {
    margin-bottom: var(--margin-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: var(--second-color);
    margin: 0 var(--margin-4);
}

.footer__icon:hover {
    color: var(--first-color);
}

.footer__copy {
    font-weight: var(--font-high);
    font-size: var(--normal-font-size);
}

/* media queries */
@media screen and (max-width: 359px) {
    .send__img {
        width: 100%;
        padding-top: 0rem;
    }
}

@media screen and (max-width: 576px) {
    .send__img {
        padding-top: 0rem;
    }
}

@media screen and (min-width: 576px) {
    .send__container {
        align-items: center;
        max-width: 1024px;
    }

    .send__container1 {
        align-items: center;
        max-width: 1024px;
    }

    .bd-container {
        grid-template-columns: 1.9fr .9fr;
        grid-template-rows: auto;
    }

    .send__description {
        text-align: center;
    }

    .send__img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--margin-6);
    }

    .section-title:after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--margin-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin: 10px;
        align-items: center;
        text-align: center;
    }

    .about__container {
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 300px;
    }

    .work__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin: 5rem;
    }

    .contact__form {
        width: 100%;
    }

    .contact__container {
        justify-items: center;
    }

    .send {
        background: none;
    }

    .send1 {
        background: none;
    }

    .send__container {
        background-color: var(--nav-color);
        padding: 2rem;
        border-radius: 1.5rem;
    }

    .send__container1 {
        background-color: var(--first-color);
        padding: 2rem;
        border-radius: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    #back-to-top-btn {
        display: none !important;
        visibility: hidden !important;
    }
}

@media screen and (min-width: 968px) {
    .send__img {
        width: 100%;
    }

    .send__container,
    .send__container1 {
        column-gap: 5rem;
        max-width: 1024px;
    }
}

@media screen and (min-width: 1025px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    .send__container,
    .send__container1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
    }
}

/* back to top button */
#back-to-top-btn {
    z-index: 1000;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: var(--first-color);
    color: #fff;
    cursor: pointer;
    outline: none;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover,
back-to-top-btn:focus {
    background-color: var(--nav-color);
    color: var(--first-color);
}

/* animation */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}


.intro {
    background: black;
    position: fixed;
    z-index: var(--z-fixed);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    color: rgb(233, 233, 233);
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem;
    z-index: var(--z-fixed);
}

.hide {
    background: black;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    z-index: var(--z-fixed);
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    z-index: var(--z-fixed);
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 5px;
    background-color: var(--nav-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 5px;
}


body::-webkit-scrollbar-thumb:hover {
    background-color: #ab97c9;
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--first-color);
}


/* copied */
